[Unit]
Description=Collectd
After=local-fs.target network-online.target
Requires=local-fs.target network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/collectd
ExecStart=/usr/sbin/collectd -C /etc/collectd.conf -f
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
